package views

import "github.com/JerryLegend254/gotth/types"
import "github.com/JerryLegend254/gotth/components"

templ Todos(todos []types.Todo) {
	@Page(true) {
		<main class="h-full flex flex-col p-6">
			<input class="border-2 border-gray-500 px-4 py-3 w-[500px] rounded-xl self-center" type="text" placeholder="Search" hx-get="search" hx-target="#todos-list" hx-trigger="keyup changed delay:500ms" name="search-query" hx-swap="outerHTML"/>
			@components.TodosList(todos)
		</main>
	}
}
